*.pyc
*xcuserdata
ifacegen.example/ifacegen.example/vk.h
ifacegen.example/ifacegen.example/vk.m
ifacegen.example/ifacegen.example/vkimport.h
ifacegen.example/ifacegen.example/vkimport.m
ifacegen.example/ifacegen.example.xcworkspace
ifacegen.example/Pods
ifacegen.test/ifacegen.test.test/OBCTest.h
ifacegen.test/ifacegen.test.test/OBCTest.m
ifacegen.test/ifacegen.test.test/OBCTypes.h
ifacegen.test/ifacegen.test.test/OBCTypes.m
